
name: lint-word-writer
on:
  pull_request:
    paths:
      - "**.md"
jobs:
  lint-word-writer:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.17'
          check-latest: true
          cahce: true
      - run : go run ./tools/replace-to-EYD/main.go 
      - name: Commit and Push
        continue-on-error: true
        run: |
          git add .
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -am "chore: lint wording"
          git push