
name: lint-word-writer
on:
  pull_request:
    paths:
      - "**.md"
jobs:
  lint-word-writer:
    if: github.event.pull_request.head.repo.full_name == github.repository
    name: lint-word
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Setup golang 
        uses: actions/setup-go@v3
      - name: running lint wording
        run : go run ./tools/replace-to-EYD/main.go 
      # - name: Commit and Push
      #   uses: actions-js/push@master
      #   with:
      #     github_token: ${{ secrets.TOKEN_GITHUB }}
      #     message : 'chore: lint wording'
      #     branch: ${{ github.head_ref || github.ref_name }} 
      - name: Commit and Push
        continue-on-error: true
        run: |
          git add .
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -am "chore: lint words"
          git push ${{ github.head_ref || github.ref_name }}
